  <div class="container">
<% if user_signed_in? && @event.liked_by?(current_user) %>
      <%= form_with(model: [@event, @comment], local: true) do |form| %>
        <%= form.text_area :content, placeholder: "コメントを入力", rows: "2",class:"comment_form" %>
     <%= form.submit "送信" ,class:"sendbtn" %>※要更新
            <% end %>

                   <% if current_user == @event.user %>
<div id="comment_<%= comment.id %>">
  <p><%= comment.content %></p>
  <div id="comment_<%= comment.id %>_like_button">
    <%= render 'comments/like_button', comment: comment %>
    
  </div>
</div>

    <% end %>
    <% end %>

  </div>