  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@event, @comment], local: true) do |form| %>
        <%= form.text_area :content, placeholder: "コメントする", rows: "2",class:"comment_form" %>
        <P><%= form.submit "送信" ,class:"sendbtn" %></p>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
        <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <div class="comment_content">
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}",class:"comment_user" %>：</strong>
          <%= comment.content %><p><%= l comment.created_at %><p>
        </div>
      <% end %>
    </div>
  </div>
