<% breadcrumb :DateLocation %>

<% if session[:event_errors].present? %>
  <div id="error_explanation">
    <h2><%= pluralize(session[:event_errors].count, "error") %> prohibited this event from being saved:</h2>
    <ul>
      <% session[:event_errors].each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% session.delete(:event_errors) %>
<% end %>

<h2>日時と場所</h2>
<div class="date_form">
<%= form_for @event, url: wizard_path(step, event_id: (@event.new_record? ? 'new' : @event.id)), method: :patch do |f| %>
    <ul>
    <li class="all_form" ><%= f.label :start_time,"予定日時" %><br>
    <li class="all_form" ><%= f.datetime_local_field :start_time,
                                   value: @event.start_time.strftime('%Y-%m-%dT%H:%M') || Time.current.strftime('%Y-%m-%dT%H:%M'),
                                   class: "datetime-field" %><br>
    <li class="all_form" ><%= f.label :location,"場所" %><br>
    <li class="all_form" ><%= f.text_field :location,placeholder:"場所を指定してください" %><br>
    <li class="all_form" ><%= f.submit '次へ' ,class: "next_button" %>
    </ul>
</div>
<% end %>
