<% breadcrumb :UserShow %>
<% if current_user == @user %>
<div class= show_edit>
  <%= link_to 'プロフィールを編集', edit_user_path(@user), class: 'edit-profile-btn' %>
<div>
<% end %>
<div class="usershow">

  <div class="username">
    <% if @user.avatar.attached? %>
  <%= image_tag @user.avatar.variant(resize: "90x60^", gravity: "center", crop: "300x200+0+0"),class: "user-img_show" %>
<% else %>
<span class="user_icon_non">No Image</span>
<% end %>
    <%= @user.name %>さん
    </div>
    <div class=matched_record>
      <% if current_user == @user %>
      <%= link_to 'マッチング履歴', matches_path ,class:"matched-record" %>
      <% end %>
    </div>
  <div class="bio">＜profile＞
    <p> <%= @user.bio %><p>
      
    </div>

  <div class="user_event">
  <div class="userindex"><%= @name %>さんの投稿一覧</div>
    <% @events.each do |event| %>
   <div class="eventbox">
  <div class="content_post">
        <p>開催日：<%= event.start_time.strftime("%Y年%m月%d日 %H:%M") %></p>
    <%= link_to event_path(event) do %>
        <% if event.image.attached? %>
    <%= image_tag event.image.variant(resize: "240x160^", gravity: "center", crop: "240x160+0+0"), class: "card-img-top" %>
    <% end %>
        <% end %>

    <p>イベント名：<%= event.title %></p>
    <p>概要：<%= event.description %></p>
    <p>場所：<%= event.location %></p>
    <p>タグ：<%= event.tag.name %></p>
    </div>
    <% end %>


</div>
<br>
<br>


