<!DOCTYPE html>
<html>
  <head>
    <title>WeConn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
          <div class="heads">Well come to the "WE Conn"</div>
    </header>

    <main class="main-content_home">
      
          <div class="logo_home"> WE Conn</div>
                    <div class="heads_2">"あのイベント気になるけど..."<br>そんなあなたの気持ちを繋ぐ。<br>"Wanna go Event Connect"</div>
                <% if !user_signed_in? %>
            <li><%= link_to '新規登録', new_user_registration_path, class: "home_lists" %></li>
            <li><%= link_to 'ログイン', new_user_session_path, class: "home_lists"  %></li>
            <li><%= link_to 'ゲスト', events_path, class: "home_lists"  %></li>
      <% else %>
        <li><%= link_to 'イベント一覧', events_path, class: "home_lists" %></li>
        <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo: false },class: "home_lists" %></li>
      <% end %>

      <%= yield %>
    </main>

    <footer>
      <div class="footer-content">
        <p>&copy; 2024 EventConnect. All rights reserved.</p>
        <ul class="footer-links">
          <li><%= link_to 'プライバシーポリシー', privacy_path %></li>
          <li><%= link_to '利用規約', terms_path %></li>
          <li><%= link_to 'お問い合わせ', callme_path %></li>
          </ul>
      </div>
    </footer>
  </body>
</html>