<% breadcrumb :EventEdit %>
<h2>イベントの編集</h2>

<%= form_with(model: @event, local: true) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tag_id, "タグ" %>
  <%= form.collection_select :tag_id, Tag.all, :id, :name, prompt: "タグを選択してください" %>
  </div>

  <div class="field">
    <%= form.label :title, "イベント名" %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, "概要欄" %><br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_time, "日時" %><br>
    <%= form.datetime_select :start_time,use_month_numbers: true %>
  </div>

  <div class="field">
    <%= form.label :location, "場所" %><br>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :image, "画像" %><br>
        <% if @event.image.attached? %>
      <div class="current-image">
        <p>現在の画像:</p>
        <%= image_tag @event.image.variant(resize_to_limit: [300, 300]), class: "event-image" %>
      </div>
    <% end %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit '更新する', class: "next_button" %>
  </div>
<% end %>

<div class="redirect"> 
<%= link_to '詳細に戻る', @event, class: "redirect_btn" %> |
<%= link_to '一覧に戻る', events_path, class: "redirect_btn" %>
</div>