<% breadcrumb :EventShow %>
<h2><%= @event.title %></h2>

<div class="event-details">
 <ul class="event-details_list">
    <li class="all_form_D" >概要: <%= auto_link(@event.description, html: { target: '_blank' }) %></li>
    <li class="all_form" >日時: <%= @event.start_time.strftime("%Y-%m-%d %H:%M") %></li>
    <li class="all_form" >場所: <%= @event.location %></li>
  </ul>
  
    <% if @event.image.attached? %>
    <%= image_tag @event.image.variant(resize_to_limit: [500, 300]), class: "event-image"%>
  <% end %>
    <ul>
    <li class="all_form" >投稿者: <%= link_to @event.user.name, user_path(@event.user), class: "userlink" %>
    </ul>
    <% if user_signed_in? && @event.user == current_user %>
    <div class="event-actions">
      <%= link_to '編集', edit_event_path(@event), class: 'edit_btn' %>
  <%= link_to '削除', event_path(@event), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'delete_btn' %>    
  </div>
  <% end %>
 

    <% if user_signed_in? && current_user != @event.user %>
 <div class="like-button">
   <div id="like-btn<%= @event.id %>">
    <%= render partial: "likes/like", locals: { event: @event } %>
   </div>
 </div>
 <% end %>

          <% unless user_signed_in? %>
      <strong><p>※※※ ログインをして"行きたいボタン"を押すとコメントが投稿できます※※※</p></strong>
          <% end %> 

  <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <div class="reflesh-p">
      <%= button_to "コメント更新",event_path,class:"reflesh" %>
      </div>
      <% @comments.each do |comment| %>
        <div class="comment_content">
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}", class: "comment_user" %>：</strong>
          <%= comment.content %>
          <p><%= l comment.created_at %></p>

        <% if current_user == comment.event.user %>
        <!-- イベント投稿主の場合 -->
        <div id="comment_<%= comment.id %>_like_button">
          <%= render partial: 'comments/like_button', locals: { comment: comment } %>
        </div>
        
      <% elsif current_user == comment.user && comment.liked_by_owner %>
        <!-- コメント投稿主で、かつイベント投稿主にいいねされた場合 -->
        <%= link_to event_chat_room_path(@event) do %>
        <span class="blinking"><div class="matched-box">
          <div class="matched">
          matching!
          </div>
        </div>
        </span>
        <% end %>
      <% end %>
      



      <% if current_user == comment.user %>
        <!-- コメント投稿主の場合 -->
        <div class="comment-delete">
          <%= button_to '削除', event_comment_path(@event, comment), method: :delete, class: "comment_delete" %>
        </div>
      <% end %>
    </div>
      <% end %>
</div>


