<!DOCTYPE html>
<html>
  <head>
    <title>WeConn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, message| %>
  <div class="alert <%= type == 'notice' ? 'alert-success' : 'alert-danger' %>" role="alert">
    <%= message %>
  </div>
<% end %>
    <header>
      <nav>
        <div><%= link_to 'WE Conn', root_path, class: "logo" %></div>
        <ul class="nav-links">
          <li><%= link_to 'イベント一覧', events_path %></li>
          <% if user_signed_in? %>
        <li><%= link_to 'イベント作成', new_event_step_path(:basic_info) %></li>
         <li><%= link_to current_user.name, user_path(current_user), class: "user-name" %></li>
        <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo: false },class:"logoutH" %></li>
         <li> <%= link_to 'マッチング履歴', matches_path %></li>
             <% if @new_matches_count > 0 %>
      <span class="notification-count">new match![ <%= @new_matches_count %> ]件</span>
      <% end %>
          <% else %>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main class="main-content">
   <%= breadcrumbs separator: " &rsaquo; " %>   
      <%= yield %>

    </main>

    <footer>
      <div class="footer-content">
        <p>&copy; 2024 EventConnect. All rights reserved.</p>
        <ul class="footer-links">
          <li><%= link_to 'プライバシーポリシー', privacy_path %></li>
          <li><%= link_to '利用規約', terms_path %></li>
          <li><%= link_to 'お問い合わせ', callme_path %></li>
        </ul>
      </div>
    </footer>
  </body>
</html>