<!DOCTYPE html>
<html>
  <head>
    <title>We_conn - イベントを共有して一緒に参加しよう</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="We_connは、イベントを共有して一緒に参加してくれる人を探すマッチングアプリです。革新的なマッチングシステムで、新しい出会いと体験を提供します。">
    <meta name="keywords" content="イベント, マッチング, 参加者募集, 社交, アクティビティ">
    <meta property="og:title" content="We_conn - イベントマッチングアプリ">
    <meta property="og:description" content="イベントを共有して一緒に参加する人を見つけよう。新しい出会いと体験があなたを待っています。">
    <meta property="og:image" content="https://your-domain.com/path-to-image.jpg">
    <meta property="og:url" content="https://your-domain.com">
    <meta property="og:type" content="website">
    <meta name="robots" content="index, follow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, message| %>
  <div class="alert <%= type == 'notice' ? 'alert-success' : 'alert-danger' %>" role="alert">
    <%= message %>
  </div>
<% end %>
    <header>
      <nav>
        <div><%= link_to 'WE Conn', root_path, class: "logo" %></div>
        <ul class="nav-links">
          <li class="nav-links"><%= link_to 'イベント一覧', events_path %></li>
          <% if user_signed_in? %>
        <li class="nav-links"><%= link_to 'イベント作成', new_event_step_path(:basic_info) %></li>
         <li class="nav-links"><%= link_to current_user.name, user_path(current_user), class: "user-name" %></li>
        <li class="nav-links"><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo: false },class:"logoutH" %></li>
         <li class="nav-links"> <%= link_to 'マッチング履歴', matches_path %></li>
          <% else %>
            <li class="nav-links"><%= link_to '新規登録', new_user_registration_path %></li>
            <li class="nav-links"><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
         <% if @new_matches_count > 0 %>
      <span class="notification-count">new match![ <%= @new_matches_count %> ]件</span>
      <% end %>
      <% end %>
      </nav>
      
    </header>

    <main class="main-content">
   <%= breadcrumbs separator: " &rsaquo; " %>   
      <%= yield %>

    </main>

    <footer>
      <div class="footer-content">
        <p>&copy; 2024 EventConnect. All rights reserved.</p>
        <ul class="footer-links">
          <li><%= link_to 'プライバシーポリシー', privacy_path %></li>
          <li><%= link_to '利用規約', terms_path %></li>
          <li><%= link_to 'お問い合わせ', callme_path %></li>
        </ul>
      </div>
    </footer>
  </body>
</html>